---
import { Image } from "astro:assets";
import logo from "../assets/ghost.svg";
import githubIcon from "../assets/github.svg";
import x from "../assets/twitter-x.svg";
import { MENU_LIST } from "../consts";

const currentPath = Astro.url.pathname;
---

<nav class="menu">
  <ul class="menuList js-menuList">
    <div class="menuIcons">
      <a href="/" class="menuIcons__button menuIcons__logo">
        <Image src={logo} width="24" height="24" alt="logo" aria-label="home" />
      </a>

      <a
        href="https://github.com/H-ymt/component-assets"
        class="menuIcons__button headerNav__github"
        ><Image src={githubIcon} width="22" height="22" alt="GitHub" /></a
      >

      <a
        href="https://twitter.com/Hy1272"
        class="menuIcons__button headerNav__x"
        ><Image src={x} width="22" height="22" alt="X(Twitter)" /></a
      >
    </div>

    <div class="menuList__item">
      <p class="menuList__title">Components</p>
      {
        MENU_LIST.map((menu) => (
          <>
            <li>
              <a
                href={menu.path}
                class={`menuList__link ${
                  currentPath === menu.path ? "active" : ""
                }`}
              >
                {menu.label}
              </a>
            </li>
          </>
        ))
      }
    </div>
  </ul>
</nav>
<button class="menuToggle js-toggleButton" type="button" aria-label="menu">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
    class="menuIcon menuToggle__open js-openButton"
    ><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"
    ></circle><circle cx="5" cy="12" r="1"></circle></svg
  >
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    fill="none"
    stroke-width="1"
    stroke-linecap="round"
    stroke-linejoin="round"
    class="menuIcon menuToggle__close js-closeButton"
    ><path d="M18 6 6 18"></path><path d="m6 6 12 12"></path></svg
  >
</button>

<style>
  .menu {
    display: flex;
    position: fixed;
    z-index: 1;
    bottom: 90px;
    right: 30px;
  }

  @media screen and (min-width: 768px) {
    .menu {
      display: none;
    }
  }

  .menuList {
    display: flex;
    opacity: 0;
    visibility: hidden;
    flex-direction: column;
    width: 88vw;
    max-width: 400px;
    max-height: 320px;
    border: 1px solid hsl(var(--border));
    border-radius: var(--radius-md);
    background: hsl(var(--background) / 0.98);
    box-shadow: 0px 4px 24px 0px hsl(var(--popover-foreground) / 0.1);
    backdrop-filter: blur(8px);
    margin-bottom: 12px;
    transition:
      opacity 0.2s ease,
      visibility 0.2s ease;
  }

  .menuList.is-active {
    opacity: 1;
    visibility: visible;
    transition:
      transform 0.2s ease,
      opacity 0.4s ease,
      visibility 0.4s ease;
  }

  .menuList__item {
    padding: 8px 8px;
    overflow: hidden scroll;
  }

  .menuList__title {
    margin-bottom: 6px;
    padding-left: 4px;
    color: hsl(var(--foreground));
    font-weight: 500;
    font-size: 15px;
  }

  .menuList__link {
    padding: 8px 8px;
    font-size: 15px;
    color: hsl(var(--muted-foreground));
    text-decoration: none;
  }

  .menuList__link.active {
    font-weight: 600;
    color: hsl(var(--foreground));
    background: hsl(var(--primary) / 0.3);
    border-radius: var(--radius);
  }

  .menuIcons {
    display: flex;
    position: sticky;
    align-items: center;
    top: 0;
    padding-left: 4px;
    border-bottom: 1px solid hsl(var(--border));
    border-top-right-radius: var(--radius-md);
    border-top-left-radius: var(--radius-md);
    border
    background: hsl(var(--background) / 0.95);
    backdrop-filter: blur(8px);
  }

  .menuIcon {
    stroke: hsl(var(--foreground));
  }

  .menuIcons__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 48px;
  }

  @media (hover: hover) {
    .menuIcons__button:hover {
      background: hsl(var(--muted));
    }
  }

  .menuIcons__button:focus-visible {
    background: hsl(var(--muted));
  }

  .menuToggle {
    display: grid;
    position: fixed;
    z-index: 1;
    bottom: 36px;
    right: 30px;
    place-items: center;
    width: 56px;
    height: 56px;
    background: hsl(var(--background));
    border: 1px solid hsl(var(--border));
    border-radius: var(--radius-lg);
  }

  @media screen and (min-width: 768px) {
    .menuToggle {
      display: none;
    }
  }

  .menuToggle .menuToggle__open,
  .menuToggle.is-active .menuToggle__close {
    display: inline-block;
  }

  .menuToggle.is-active .menuToggle__open,
  .menuToggle .menuToggle__close {
    display: none;
  }
</style>

<script>
  const toggleButton = document.querySelector(".js-toggleButton");
  const menuList = document.querySelector(".js-menuList");
  const openButton = document.querySelector(".js-openButton");
  const closeButton = document.querySelector(".js-closeButton");

  toggleButton?.addEventListener("click", () => {
    menuList?.classList.toggle("is-active");
    toggleButton.classList.toggle("is-active");
    openButton?.classList.toggle("is-hidden");
    closeButton?.classList.toggle("is-active");
  });
</script>
